[Unit]
Description=Display stuff about the competition

[Service]
User=compd
Group=users
ExecStart=/srv/compd-screens/run
WorkingDirectory=/srv/compd-screens
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
