[Unit]
Description=Manage the competition

[Service]
User=compd
Group=users
ExecStart=/srv/compd/run
WorkingDirectory=/srv/compd
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
